*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    color: white;
    padding: 12px 16px;
    background-color: cadetblue;
    justify-content: space-between;
}
#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
list-style-type: none;
padding: 0px 50px;

}

.movie-holder{
    
    display: grid;
    grid: auto auto / auto auto auto auto auto;
    grid-gap: 10px;
   
    padding: 10px;
}

.movie-img-wrapper{
    background-size: cover !important;
    width: auto;
    height: 250px;
}

.movie-link{
   width: 100px;
}

#booker-grid-holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-gap: 100px;
}

#booker-grid-holder>div{
    display: grid;
    grid-template-columns: repeat(3,60px);
    grid-gap: 10px;
}
.booking-grid{
    border: 1px solid black;
    height: 60px;
   
}
.unavailable-seat{
    background-color: red;
}

.available-seat{
    background-color:green;
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}

